@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* GENERAL */

.container {
  max-width: 800px;
  margin: 0 auto;
  /* border: 2px solid red; */
  font-family: "Montserrat", sans-serif;
}

/* HEADER */
header {
  height: 10vh;
  border-bottom: 2px solid rgb(235, 235, 235);
  display: flex;
  align-items: center;
  font-size: 50px;
  padding: 20px;
  box-sizing: border-box;
}

header > .logo {
  margin-right: 20px;
}
/* MAIN */
main {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lign {
  display: flex;
  margin-right: 150px;
}

.switch {
  width: 60px;
  height: 30px;
  border: 2px solid #5c48d3;
  margin: 10px;
}

.purple {
  background-color: #5c48d3;
}

.white {
  background-color: #fff;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

main > :last-child {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* FOOTER */
footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > p > span {
  font-weight: bold;
}
